<ion-header no-border color="dark">
    <ion-searchbar placeholder="Buscar una pelicula " (ionChange)="searchChanged($event.target.value)"></ion-searchbar>
</ion-header>
<ion-content no-margin color="dark">
    <ion-card *ngFor="let movie of movieList" [routerLink]="['/movieDetails/', movie.id]">
        <ion-card-header color="light">
            {{movie.title}}
        </ion-card-header>
        <ion-card-content>
            <ion-img [src]="movie.poster_path | movieImgPipe"></ion-img>
        </ion-card-content>
    </ion-card>
</ion-content>