<ion-header no-border color="dark">
    <ion-toolbar color="dark">
        <img class="left" style="max-height: 50px;" src="/assets/img/logo3_white.png">
    </ion-toolbar>

</ion-header>

<ion-content color="dark">

    <h1 class="categoryText">Ahora en los cines</h1>
    <div class="scrolling-wrapper">
        <ion-card class="card" *ngFor="let movie of listingsList" [routerLink]="['/movieDetails/', movie.id]">
            <ion-card-title class="cardTitle">
                {{movie.title}}
            </ion-card-title>
            <ion-card-content>
                <ion-img class="cardListingsImage" [src]="movie.poster_path | movieImgPipe"></ion-img>
            </ion-card-content>
        </ion-card>
    </div>

    <h1 class="categoryText">Destacadas recientemente</h1>
    <div class="scrolling-wrapper">
        <ion-card style="border-radius: 10px;" class="card" *ngFor="let movie of movieList" [routerLink]="['/movieDetails/', movie.id]">
            <ion-card-title class="cardTitle">
                {{movie.title}}
            </ion-card-title>
            <ion-card-content>
                <ion-img class="cardImage" [src]="movie.poster_path | movieImgPipe"></ion-img>
            </ion-card-content>
        </ion-card>
    </div>

    <h1 class="categoryText">Para reir</h1>
    <div class="scrolling-wrapper">
        <ion-card class="card" style="margin-right: 2px;" *ngFor="let movie of popularComedy" [routerLink]="['/movieDetails/', movie.id]">
            <ion-card-header color="dark">
                {{movie.title}}
            </ion-card-header>
            <ion-card-content>
                <ion-img class="cardImage" [src]="movie.poster_path | movieImgPipe"></ion-img>
            </ion-card-content>
        </ion-card>
    </div>

    <h1 class="categoryText">Para los peques de la casa</h1>
    <div class="scrolling-wrapper">
        <ion-card class="card" *ngFor="let movie of popularAnimation" [routerLink]="['/movieDetails/', movie.id]">
            <ion-card-header color="dark">
                {{movie.title}}
            </ion-card-header>
            <ion-card-content>
                <ion-img class="cardImage" [src]="movie.poster_path | movieImgPipe"></ion-img>
            </ion-card-content>
        </ion-card>
    </div>

    <h1 class="categoryText">Una de pesadillas</h1>
    <div class="scrolling-wrapper">
        <ion-card class="card" *ngFor="let movie of popularHorror" [routerLink]="['/movieDetails/', movie.id]">
            <ion-card-header color="dark">
                {{movie.title}}
            </ion-card-header>
            <ion-card-content>
                <ion-img class="cardImage" [src]="movie.poster_path | movieImgPipe"></ion-img>
            </ion-card-content>
        </ion-card>
    </div>

    <h1 class="categoryText">Películas románticas</h1>
    <div class="scrolling-wrapper">
        <ion-card class="card" *ngFor="let movie of popularRomance" [routerLink]="['/movieDetails/', movie.id]">
            <ion-card-header color="dark">
                {{movie.title}}
            </ion-card-header>
            <ion-card-content>
                <ion-img class="cardImage" [src]="movie.poster_path | movieImgPipe"></ion-img>
            </ion-card-content>
        </ion-card>
    </div>

    <h1 class="categoryText">Para los amantes de la música</h1>
    <div class="scrolling-wrapper">
        <ion-card class="card" *ngFor="let movie of popularMusic" [routerLink]="['/movieDetails/', movie.id]">
            <ion-card-header color="dark">
                {{movie.title}}
            </ion-card-header>
            <ion-card-content>
                <ion-img class="cardImage" [src]="movie.poster_path | movieImgPipe"></ion-img>
            </ion-card-content>
        </ion-card>
    </div>

    <h1 class="categoryText">Ciencia ficción</h1>
    <div class="scrolling-wrapper">
        <ion-card class="card" *ngFor="let movie of popularFiction" [routerLink]="['/movieDetails/', movie.id]">
            <ion-card-header color="dark">
                {{movie.title}}
            </ion-card-header>
            <ion-card-content>
                <ion-img class="cardImage" [src]="movie.poster_path | movieImgPipe"></ion-img>
            </ion-card-content>
        </ion-card>
    </div>

</ion-content>