.add-button {
    border-color: white;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    .card {
        display: inline-block;
    }
    .cardTitle {
        font-size: medium;
        color: white;
        align-self: center;
    }
    .cardHeader {
        background-color: "dark";
    }
}

.cardImage {
    max-height: 250px;
    max-width: 150px;
    object-fit: contain;
}

.center {
    font-size: large;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.categoryText {
    font-size: large;
    text-align: center;
}