<ion-header>
    <ion-toolbar>
        <ion-title>
            Tab Three
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let movie of likedMovies" [routerLink]="['/movieDetails/', movie.id]">
        <ion-card-header color="light">
            {{movie.title}}
        </ion-card-header>
        <ion-card-content>
            <ion-img style="max-height: 200px; max-width: 100px;" [src]="movie.poster_path | movieImgPipe"></ion-img>
        </ion-card-content>
    </ion-card>
</ion-content>