<ion-header color="dark">
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-back-button color="light" text="Volver" defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title>Detalles</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="likeMovie()">
                <ion-icon [name]="liked ? 'heart' :'heart-empty'"> </ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content color="dark">
    <div class="container">
        <div align-items-start>
            <img [src]=" this.img | movieImgPipe" style="max-height: 400px;">
        </div>
        <div>
            <h1 class="header" style="padding-left: 10px;">{{title}} ({{releaseDate | slice:0:4}})</h1>
        </div>
        <div style="padding-left: 10px; padding-right: 10px;">
            <label style="font-size: large; margin-right: 15px;">{{rating}} ({{votecount}} votos)</label>
            <img align-items-end style="max-width: 80px; max-height: 25px;" *ngIf="adult" src="/assets/img/nokidsicon.png">
            <img align-items-end style="max-width: 80px; max-height: 25px;" *ngIf="!adult" src="/assets/img/kidsicon.png">
            <label style="font-size: small;" padding-start *ngFor="let genre of genres"> {{genre.name}}</label>
        </div>
        <div padding-start padding-top>
            {{description}}
        </div>
    </div>
    <ion-buttons padding-top="5px">
        <ion-button (click)="watch()">
            <ion-icon name="play-circle"></ion-icon>
        </ion-button>
        <label style="font-size: medium; padding-right: 100px;">Ver trailer</label>
        <ion-button (click)="addToList()">
            <ion-icon name="add"> </ion-icon>
        </ion-button>
        Añadir a lista
    </ion-buttons>
    <h1 class="categoryText">Reparto </h1>
    <div class="scrolling-wrapper">
        <ion-card class="card" *ngFor="let actor of cast" [routerLink]="['/actor-details/', actor.id]">
            <ion-card-header color="dark">
                {{actor.name}}
                <ion-card-subtitle class="actor-Character">
                    {{actor.character}}
                </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ion-img style="max-height: 200px; max-width: 100px;" [src]="actor.profile_path | movieImgPipe"></ion-img>
            </ion-card-content>
        </ion-card>
    </div>

    <h1 class="categoryText">Opiniones de los usuarios</h1>
    <div class="scrolling-wrapper">
        <ion-card class="card" *ngFor="let review of reviews">
            <ion-card-header color="dark">
                {{review.author}}
            </ion-card-header>
            <ion-card-content text-wrap>
                <ion-label color="light"> {{review.content | slice:0:400}}...see more </ion-label>
            </ion-card-content>
        </ion-card>
    </div>

    <h1 class="categoryText">Películas similares </h1>
    <div class="scrolling-wrapper">
        <ion-card class="card" *ngFor="let movie of similars" [routerLink]="['/movieDetails/', movie.id]">
            <ion-card-header color="dark">
                {{movie.title}}
                <ion-card-subtitle>
                    {{movie.release_date | slice:0:4 }}
                </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ion-img style="max-height: 200px; max-width: 100px;" [src]="movie.poster_path | movieImgPipe"></ion-img>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>